$black: #161A30;
$white: #31304D;
$main: #F0ECE5;
$second: #B6BBC4;

header {
    padding: 5px 10px;
    background-color: $black;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    svg {
        width: 180px;
        height: 40px;
        fill: $white;
    }
}

nav {
    padding: 10px;
    background-color: $black;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    span {
        padding: 10px;
        h3 {
            color: $second;
        }
        ul {
            list-style-type: none;
            margin: 0 20px;
            li {
                margin: 5px 0;
                a {
                    text-decoration: none;
                    &.activate {
                        color: $main;
                    }
                    &.inactivate {
                        color: $second;
                    }
                }
            }
        }
    }
}

footer {
    background-color: $black;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        li {
            cursor: pointer;
            svg {
                width: 30px;
                height: 30px;
                fill: $second;
            }
        }
    }
}
